<!DOCTYPE html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}" />
  <title>Audio Tagging</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
</head>

<body>
  <div id="title"><b>Audio Tagging</b></div>
  <br>
  <div id="description">Please drag the following sliders based on how accurately you believe they describe the song
    below.
    <br>
    For each slider category, please also indicate how <b>confident</b> you are in your ranking
    <br>
    (with 1 being very confident and 0 being not confident)
    <br>
    Use the "skip song" button if you have already tagged the song below
    <br>
    *****
    <br><i>
      For the <b>genre tags</b> (the first nine categories) values closer to 1 mean that the song's genre is very
      similar to that one
      <br>
      For the <b>speed</b> and <b>volume</b> tags, values closer to 1 mean the songs are faster and louder,
      respectively
    </i>
  </div>
  <br>
  <!-- <div id="description">Please enter the top three words that you believe best describe the audio clip.</div>
    <br>
    <div id="audio-form">
        <form action = "http://localhost:5000/results" method = "POST">
            <p>1. <input type = "text" name = "1" /></p>
            <p>2. <input type = "text" name = "2" /></p>
            <p>3. <input type = "text" name = "3" /></p>
            <p><input type = "submit" value = "submit" /></p>
         </form>
    </div> -->

  <!-- https://stackoverflow.com/questions/19221412/how-to-create-slider-with-decimal-values-using-html -->

  <div id="audio-form">
    <!-- <iframe src="https://open.spotify.com/embed/track/6XkuklKiHYVTlVvWlTgQYP" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
    <iframe src="{{ audio_embed }}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media">
    </iframe>

    <form action="/results" method="POST">
      <!-- <p>Title <input type = "text" name = "title" /></p> -->
      <!-- hidden div to save title of song -->
      <input name="song_info" value="{{ song_info }}" type="hidden" />
      <!-- <input value = "1" type="hidden" name="my_id"> -->
      <p>
        <input type="button" style="border-radius: 10px; height:40px; width:80px; font-family: Karla; background-color: white; font-size: .9em;"
          onclick="window.location.reload(true);" value="Skip song" />
      </p>
      <p>
        Jazz: <text id="jazz-text"> 0.5 </text>
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="jazz" id="jazz" onChange='displayValue(jazz)' />
        Confidence Level: <text id="jazzconf-text"> 1.0 </text>
        <input type="range" min="0.01" max="1.0" step="0.01" value="1.0" name="jazzconf" onChange='displayValue(jazzconf)' />
      </p>

      <p>
        Rhythm and Blues: <text id="rb-text"> 0.5 </text>
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="rb" onChange='displayValue(rb)' />
        Confidence Level: <text id="rbconf-text"> 1.0 </text>
        <input type="range" min="0.01" max="1.0" step="0.01" value="1.0" name="rbconf" onChange='displayValue(rbconf)' />
      </p>

      <p>
        Rock: <text id="rock-text"> 0.5 </text>
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="rock" onChange='displayValue(rock)' />
        Confidence Level: <text id="rockconf-text"> 1.0 </text>
        <input type="range" min="0.01" max="1.0" step="0.01" value="1.0" name="rockconf" onChange='displayValue(rockconf)' />
      </p>

      <p>
        Country: <text id="country-text"> 0.5 </text>
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="country" onChange='displayValue(country)' />
        Confidence Level: <text id="countryconf-text"> 1.0 </text>
        <input type="range" min="0.01" max="1.0" step="0.01" value="1.0" name="countryconf" onChange='displayValue(countryconf)' />
      </p>

      <p>
        Dance: <text id="dance-text"> 0.5 </text>
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="dance" onChange='displayValue(dance)' />
        Confidence Level: <text id="danceconf-text"> 1.0 </text>
        <input type="range" min="0.01" max="1.0" step="0.01" value="1.0" name="danceconf" onChange='displayValue(danceconf)' />
      </p>

      <p>
        Hip Hop: <text id="hh-text"> 0.5 </text>
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="hh" onChange='displayValue(hh)' />
        Confidence Level: <text id="hhconf-text"> 1.0 </text>
        <input type="range" min="0.01" max="1.0" step="0.01" value="1.0" name="hhconf" onChange='displayValue(hhconf)' />
      </p>

      <p>
        Classical: <text id="classical-text"> 0.5 </text>
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="classical" onChange='displayValue(classical)' />
        Confidence Level: <text id="classicalconf-text"> 1.0 </text>
        <input type="range" min="0.01" max="1.0" step="0.01" value="1.0" name="classicalconf" onChange='displayValue(classicalconf)' />
      </p>

      <p>
        Pop: <text id="pop-text"> 0.5 </text>
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="pop" onChange='displayValue(pop)' />
        Confidence Level: <text id="popconf-text"> 1.0 </text>
        <input type="range" min="0.01" max="1.0" step="0.01" value="1.0" name="popconf" onChange='displayValue(popconf)' />
      </p>

      <p>
        Electronic Dance Music: <text id="ed-text"> 0.5 </text>
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="ed" onChange='displayValue(ed)' />
        Confidence Level: <text id="edconf-text"> 1.0 </text>
        <input type="range" min="0.01" max="1.0" step="0.01" value="1.0" name="edconf" onChange='displayValue(edconf)' />
      </p>

      <p>
        Speed: <text id="speed-text"> 0.5 </text>
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="speed" onChange='displayValue(speed)' />
        Confidence Level: <text id="speedconf-text"> 1.0 </text>
        <input type="range" min="0.01" max="1.0" step="0.01" value="1.0" name="speedconf" onChange='displayValue(speedconf)' />
      </p>

      <p>
        Volume: <text id="vol-text"> 0.5 </text>
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="vol" onChange='displayValue(vol)' />
        Confidence Level: <text id="volconf-text"> 1.0 </text>
        <input type="range" min="0.01" max="1.0" step="0.01" value="1.0" name="volconf" onChange='displayValue(volconf)' />
      </p>

      <p>
        *Valence: <text id="valence-text"> 0.5 </text>
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="valence" onChange='displayValue(valence)' />
        Confidence Level: <text id="valenceconf-text"> 1.0 </text>
        <input type="range" min="0.01" max="1.0" step="0.01" value="1.0" name="valenceconf" onChange='displayValue(valenceconf)' />
      </p>

      <p>
        **Instrumental: <text id="instru-text"> 0.5 </text>
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="instru" onChange='displayValue(instru)' />
        Confidence Level: <text id="instruconf-text"> 1.0 </text>
        <input type="range" min="0.01" max="1.0" step="0.01" value="1.0" name="instruconf" onChange='displayValue(instruconf)' />
      </p>

      <div id="bottom text"><i>*A valence value closer to 1 means the song sounds very positive (happy, cheerful, etc.)
          <br>
          **An instrumental value closer to 1 means the song contains no vocal content (words, singing).
          <br>
          Instrumental values of 0.5 and higher represent instrumental tracks</i>
      </div>

      <p><input type="submit" value="Submit" id="submit" style="border-radius: 10px; height:40px; width:80px; font-family: Karla; background-color: white; font-size: .9em;" /></p>
    </form>

    <!-- can organize into a table if we want -->
    <!-- <table style="width:100%">
        <tr>
          <th>Genre</th>
          <th>Confidence Level</th>
        </tr>
        <tr>
          <td>Jill</td>
          <td>Smith</td>
        </tr>
        <tr>
          <td>Eve</td>
          <td>Jackson</td>
        </tr>
      </table> -->
  </div>
  <script type="text/javascript">
    // Disables the submit button for 15000 ms
    window.onload = function () {
      setTimeout(function () {
        // var element = document.getElementsByName("submit")[0] ;
        let element = document.getElementById("submit");
        element.disabled = false;
      }, 15000);


    };

    function displayValue(element) {
      console.log(element)
      let textElement = element.name + "-text";
      console.log(textElement);
      document.getElementById(textElement).innerHTML = element.value;
    }

  </script>

  <!-- 
    title = Column(String, primary_key=True)
    jazz = Column(FLOAT())
    rb = Column(FLOAT())
    rock = Column(FLOAT())
    country = Column(FLOAT())
    dance = Column(FLOAT())
    hh = Column(FLOAT())
    classical = Column(FLOAT())
    pop = Column(FLOAT())
    ed = Column(FLOAT())
    speed = Column(FLOAT())
    vol = Column(FLOAT())
    valence = Column(FLOAT())
    instru = Column(FLOAT())
    -->
</body>