<!DOCTYPE html>
<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='index.css') }}"
  />
  <title>Hello from Flask</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet"
  />
</head>

<body>
  <div id="title">Audio Tagging</div>
  <br />
  <!-- <div id="description">Please enter the top three words that you believe best describe the audio clip.</div>
    <br>
    <div id="audio-form">
        <form action = "http://localhost:5000/results" method = "POST">
            <p>1. <input type = "text" name = "1" /></p>
            <p>2. <input type = "text" name = "2" /></p>
            <p>3. <input type = "text" name = "3" /></p>
            <p><input type = "submit" value = "submit" /></p>
         </form>
    </div> -->

  <!-- https://stackoverflow.com/questions/19221412/how-to-create-slider-with-decimal-values-using-html -->

  <div id="audio-form">
    <!-- <iframe src="https://open.spotify.com/embed/track/6XkuklKiHYVTlVvWlTgQYP" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
    <iframe
      src="{{ audio_embed }}"
      width="300"
      height="80"
      frameborder="0"
      allowtransparency="true"
      allow="encrypted-media"
    ></iframe>
    <form action="/results" method="POST">
      <!-- <p>Title <input type = "text" name = "title" /></p> -->
      <!-- hidden div to save title of song -->
      <input name="song_info" value="{{ song_info }}" type="hidden" />
      <!-- <input value = "1" type="hidden" name="my_id"> -->
      <p>
        Jazz
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="jazz"/>
        Confidence Level
        <input type="range" min="0.01" max="1.0" step="0.01" value="0.0" name="jazz-conf"/>
      </p>

      <p>
        Rhythm and Blues
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="rb" />
        Confidence Level
        <input type="range" min="0.01" max="1.0" step="0.01" value="0.0" name="rb-conf" />
      </p>

      <p>
        Rock
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="rock" />
        Confidence Level
        <input type="range" min="0.01" max="1.0" step="0.01" value="0.0" name="rock-conf" />
      </p>

      <p>
        Country
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="country" />
        Confidence Level
        <input type="range" min="0.01" max="1.0" step="0.01" value="0.0" name="country-conf" />
      </p>

      <p>
        Dance
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="dance" />
        Confidence Level
        <input type="range" min="0.01" max="1.0" step="0.01" value="0.0" name="dance-conf" />
      </p>

      <p>
        Hip Hop
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="hh" />
        Confidence Level
        <input type="range" min="0.01" max="1.0" step="0.01" value="0.0" name="hh-conf" />
      </p>

      <p>
        Classical
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="classical" />
        Confidence Level
        <input type="range" min="0.01" max="1.0" step="0.01" value="0.0" name="classical-conf" />
      </p>

      <p>
        Pop
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="pop" />
        Confidence Level
        <input type="range" min="0.01" max="1.0" step="0.01" value="0.0" name="pop-conf" />
      </p>

      <p>
        Electronic Dance Music
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="ed" />
        Confidence Level
        <input type="range" min="0.01" max="1.0" step="0.01" value="0.0" name="ed-conf" />
      </p>

      <p>
        Speed
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="speed" />
        Confidence Level
        <input type="range" min="0.01" max="1.0" step="0.01" value="0.0" name="speed-conf" />
      </p>

      <p>
        Volume
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="vol" />
        Confidence Level
        <input type="range" min="0.01" max="1.0" step="0.01" value="0.0" name="vol-conf" />
      </p>

      <p>
        Valence
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="valence" />
        Confidence Level
        <input type="range" min="0.01" max="1.0" step="0.01" value="0.0" name="valence-conf" />
      </p>

      <p>
        Instrumental
        <input type="range" min="0.0" max="1.0" step="0.01" value="0.5" name="instru" />
        Confidence Level
        <input type="range" min="0.01" max="1.0" step="0.01" value="0.0" name="instru-conf" />
      </p>

      <p><input type="submit" value="Submit" id="submit" /></p>
      <p>
        <input
          type="button"
          onclick="window.location.reload(true);"
          value="Skip song"
        />
      </p>
    </form>
  </div>
  <script type="text/javascript">
    // Disables the submit button for 15000 ms
    window.onload = function () {
      setTimeout(function () {
        // var element = document.getElementsByName("submit")[0] ;
        let element = document.getElementById("submit");
        element.disabled = false;
      }, 15000);
    };
  </script>

  <!-- 
    title = Column(String, primary_key=True)
    jazz = Column(FLOAT())
    rb = Column(FLOAT())
    rock = Column(FLOAT())
    country = Column(FLOAT())
    dance = Column(FLOAT())
    hh = Column(FLOAT())
    classical = Column(FLOAT())
    pop = Column(FLOAT())
    ed = Column(FLOAT())
    speed = Column(FLOAT())
    vol = Column(FLOAT())
    valence = Column(FLOAT())
    instru = Column(FLOAT())
    -->
</body>
